.container {
  display: flex;
  height: 100%;
  /* Ensure the layout takes the full viewport height */
}

.content-container {
  display: flex;

  flex: 1;
  /* Ensure the content container expands to fill available space */
}

.left-sidebar {
  width: 15%;
  background-color: #ddfff9;
  height: 100%;
  /* Background color for left sidebar */
}

.content {
  flex: 1;
  /* Allow the content area to grow within the content container */
  background-color: #ffffff;
  height: 100%;
  /* Background color for main content */
}

.right-sidebar {
  width: 15%;
  background-color: #ddfff9;
  height: 100%;
  /* Background color for right sidebar */
}

/* set content are for small size */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }
}

/* for page link */
.page-link-middle {
  text-align: center;
  background-color: #71ffe5;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  flex-grow: 1;
  font-size: large;
}

.page-links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.page-link {
  background-color: #71ffe5;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
}

.page-link:hover {
  background-color: #48d6b4;
}

/* for Section title */

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #b9fff2;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-title-mini {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: #8fffeb;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.DH_Box {
  margin: 10px;
}

/* custom-font.css */
body {
  font-family: "Inter", sans-serif;
  background-color: #ddfff9;
}